Repository InditexTech/karatetools-oss, pull requests merged in 2025-01, with the labels that each got.

#15 [Karate-Tools] Release 5.0.0 Docs
  docs/src/modules/contributing/pages/karatetools-oss-karate-test.adoc
Labels: release-docs

#21 [Karate Tools] Release 5.0.1
  .github/workflows/code-maven_java-QA_compatibility.yml
  .github/workflows/code-maven_java-QA_e2e_karate.yml
  code/CHANGELOG.md
  code/archetype/pom.xml
  code/archetype/src/main/resources/archetype-resources/pom.xml
  code/archetype/src/test/resources/projects/activemq/reference/pom.xml
  code/archetype/src/test/resources/projects/default/reference/pom.xml
  code/archetype/src/test/resources/projects/full/reference/pom.xml
  code/archetype/src/test/resources/projects/jdbc/reference/pom.xml
  code/archetype/src/test/resources/projects/kafka/reference/pom.xml
  code/archetype/src/test/resources/projects/mongodb/reference/pom.xml
  code/boot/pom.xml
  code/clients/pom.xml
  code/clients/src/main/resources/logback.xml
  code/generators/pom.xml
  code/generators/src/main/resources/logback.xml
  code/generators/src/test/resources/logback-test.xml
  code/generators/src/test/resources/openapi/karatetools/rest/basic/openapi-rest.yml
  code/generators/src/test/resources/openapi/karatetools/rest/invalid/invalid-openapi-rest.yml
  code/generators/src/test/resources/openapi/unit/schema/Circular/openapi-test.yml
  code/generators/src/test/resources/openapi/unit/schema/Composed/AllOf/openapi-test.yml
  code/generators/src/test/resources/openapi/unit/schema/Composed/AnyOf/openapi-test.yml
  code/generators/src/test/resources/openapi/unit/schema/Composed/OneOf/openapi-test.yml
  code/jacoco-report-aggregate/pom.xml
  code/karate-release/pom.xml
  code/openapi-test/pom.xml
  code/openapi-test/xxx-api-rest-stable/pom.xml
  code/openapi-test/xxx-external-api-rest-stable/pom.xml
  code/pom.xml
  code/runner/pom.xml
  code/starter/pom.xml
  docs/.docsconfig.yml
  docs/antora-playbook-local.yml
  docs/antora-playbook.yml
  docs/package-lock.json
  docs/package.json
  docs/src/modules/archetype/pages/4-configure-release.adoc
  docs/src/modules/contributing/pages/karatetools-oss-code.adoc
  docs/src/modules/release/pages/index.adoc
  e2e/karate/pom.xml
Labels: release-docs, release-type/patch

#25 Allow concurrency between code release and documentation release
  .github/workflows/docs-release.yml
Labels: kind/bug
